
<div class="container">
  <div class="row">
      <div id="card" class="text-white">
          <img id="tablet" class="card-img" src="./assets/tablet.png">
          <div class="card-img-overlay">
            <h2 class="card-title">Ancient Todo<br> List</h2>
            <p class="card-text">Welcome to the Ancient Todo List!<br> Login or Register, or if you are signed<br> in, click Todo List to view your todos!</p>
            <a routerLink="login"><button id="loginBtn" type="button" class="btn btn-primary">Login/Register</button></a>
            <a routerLink="todos"><button id="todosBtn" type="button" class="btn btn-success">Todos List</button></a>
          </div>
        </div>
    </div>    
</div>


